[submodule "3rdparty/libpng"]
	path = 3rdparty/libpng
	url = git@github.com:glennrp/libpng.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = git@github.com:madler/zlib.git
[submodule "module/rztl"]
	path = module/rztl
	url = git@github.com:alesegdia/rztl.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "3rdparty/sdl"]
	path = 3rdparty/sdl
	url = git@github.com:libsdl-org/SDL.git
[submodule "3rdparty/sdl-image"]
	path = 3rdparty/sdl-image
	url = git@github.com:libsdl-org/SDL_image.git
